/* Variables */
/* $primary: #3371d6;
$primary-darker: #204582; */

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

#hero {
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg'); 
  background-size: cover;
 height: 600px;
  color: #fff;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style-type: none;
    display: flex;
    li {
      font-weight: 700;
      margin: 0 1rem;
    }
  }
}

.content {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 100px auto;
  font-size: 4rem;
  button {
    font-size: 2rem;
    background-color: $primary;
    color: #fff;
    border: none;
    padding: .5rem 2rem;
    transition: all .3s ease;
    cursor: pointer;
    &:hover {
      background-color: $primary-darker;
    }
  }
}


.overlay {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    &--hidden {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
  &--hidden {
    display: none;
  }
  &__contents {
    background-color: #fff;
    padding: 2rem 4rem;
    input[type=email] {
      width: 100%;
      padding: .5rem;
    }
    #submit{
      width: 100%;
      padding: .5rem;
      background-color: $primary;
      color: #fff;
      border: none;
      transition: all .3s ease;
      &:hover {
        background-color: $primary-darker;
      }
    }
  }
  &__close-bar {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -1rem;
  }
}